.time {
    grid-column: span 2;
    font-size: 28px !important;
    font-weight: bold;
    animation-delay: 0.4s !important; 
    display: flex;
    justify-content: center;
    align-items: center;
}